#saffron{
    width:400px ;
    height:80px ;
    background-color: #FF9933  ;
}   

#white{
    width:400px ;
    height:80px ;
    background-color: #FFFFFF  ;
}   

#green{
    width:400px ;
    height:80px ;
    background-color: #138808  ;
}   

#img{ width :80px; 
margin-left: 160px;}