.row{  display: flex;
    background-color: azure;

}
#first{
    width:133px ;
    height:240px ;
    background-color: #002B7F  ;
}   

#second{

    width:133px ;
    height:240px ;
    background-color: #FCD116  ;
}   

#third{
    width:133px ;
    height:240px ;
    background-color: #CE1126  ;
}   
